@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("./fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #000000;
  --color-light-dark: #0f0f0f;
  --color-white: #ffffff;
  --color-light-gray: #d0d0d0;
  --color-gray: #969696;

  --border: 1px solid var(--color-white);

  --font-family-base: "PT Sans", sans-serif;
  --font-family-accent: "Playfair Display", sans-serif;
  --font-family-logo: "Post No Bills Jaffna", sans-serif;

  --button-height: 47px;
}

body {
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-white);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  margin: 0 auto;
  max-width: 1110px;
}

.top-line-content {
  font-family: var(--font-family-base);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 14px 0px; */
  height: 44px;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.info span {
  margin: 5px;
}

.top-line-info-text::before {
  content: "|";
  margin-right: 10px;
}

.top-line-info-text::after {
  content: "|";
  margin-left: 10px;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.bot-line {
  background-color: var(--color-light-dark);
}

.bot-line-content {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: end;
  width: 30px;
  height: 18px;
}

.burger span {
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
}

.humb::before,
.humb::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  transition: all 0.3s ease;
}
.humb::before {
  top: 0;
}
.humb::after {
  bottom: 0;
}

.burger.active span {
  background: transparent;
}
.burger.active .humb::before {
  transform: rotate(45deg);
  top: 8px;
}
.burger.active .humb::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

.header-menu-list {
  display: flex;
  gap: 35px;
}
.header-menu-link {
  display: inline-flex;
  height: 80px;
  align-items: center;
  text-transform: uppercase;
}

.header-menu-link.is-active {
  padding: 0 20px;
  background-color: #1f1f1f;
}

.header-logo {
  font-family: var(--font-family-logo);
  font-size: 36px;
  align-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  min-height: 810px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(images/Rectangle\ 3.png) lightgray 50% / cover no-repeat;
}
.banner-box {
  margin-bottom: 80px;
  width: 320px;
  height: 320px;
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  font-family: var(--font-family-logo);
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
.banner-title::after {
  content: "";
  display: block;
  width: 179px;
  height: 2px;
  background: white;
  margin: auto;
}

.banner-subtitle {
  margin-top: 7px;
  font-family: var(--font-family-base);
  font-size: 22px;
}

.banner-info {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 730px;
}

.new-collection {
  display: flex;
}
.new-season {
  flex: 1;
}
.season-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 93px;
}

.season-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 43px auto;
}
.products {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.product {
  width: 260px;
  height: 325px;
}
.product img {
  align-items: center;
  background: #191b1c;
  padding: 27px 22px 34px 23px;
  margin-bottom: 25px;
}
.product-name {
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.product-price {
  color: var(--color-light-gray);
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 700;
}
.slider button,
.slider-container button {
  display: none;
}

.catalog {
  flex: 1;
  min-height: 730px;
  max-width: 880px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(images/Rectangle\ 8.png) lightgray 50% center / cover no-repeat;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.overlay-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 484px;
}
.overlay-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 21px auto 27px;
}
.button-catalog {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.collection-2018 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.collection-img {
  min-height: 600px;
  max-width: 936px;
  flex: 1;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(images/Rectangle\ 10.png) lightgray 50% / cover no-repeat;
}
.about-collection {
  padding-right: 50px;
  flex: 1;
}

.collection-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
}

.collection-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 40px auto 30px auto;
}

.collection-text {
  display: inline-block;
  max-width: 628px;
  color: var(--color-white);
  font-family: var(--font-family-base);
  line-height: 150%;
  margin-bottom: 67px;
}

.collection-button {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.new-goods {
  margin-bottom: 150px;
}

.new-goods-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 120px;
  text-align: center;
}

.new-goods-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 39.5px auto;
}

.new-products {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
  margin-top: 81.5px;
}

.new-product img {
  background: #191b1c;
  padding: 27px 22px 34px 23px;
  margin-bottom: 25px;
}

.new-product-gucci img {
  background: #191b1c;
  padding: 0 22px 0 23px;
  margin-bottom: 25px;
}

.all-product {
  width: 260px;
  height: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    #191b1c url("images/jord.png") center/contain no-repeat;
}
.show-all {
  font-family: var(--font-family-accent);
  color: var(--color-white);
  font-size: 18px;
  padding: 12px 28px;
  border: 1px solid var(--color-white);
}

.useful-info {
  margin-bottom: 89.67px;
}

.info-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 63.32px;
  text-align: center;
}

.info-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 36.56px auto;
}
.articles-list {
  margin-top: 56.97px;
}
.article {
  display: flex;
  column-gap: 145px;
  margin-bottom: 35px;
}

.article img {
  max-width: 989px;
}
.article-content {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}
.article-title {
  font-family: var(--font-family-base);
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.article-text {
  display: inline-block;
  align-items: center;
  font-family: var(--font-family-base);
  max-width: 628px;
  line-height: 150%;
  margin-bottom: 39px;
}

.article-bottom {
  display: flex;
  justify-content: space-between;
}
.read-button {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.article-hashtags {
  display: flex;
  column-gap: 54px;
  font-family: var(--font-family-base);
  letter-spacing: 1.8px;
  text-transform: uppercase;
  align-self: flex-end;
}

.partners {
  margin-bottom: 106px;
}
.partners-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.partners-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 22.56px auto 66px auto;
}
.partners-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-top {
  min-height: 450px;
  background: url(images/Rectangle\ 15.png) lightgray 50% / cover no-repeat;
}

.footer-top-content {
  display: flex;
  justify-content: space-between;
}

.footer-top-title {
  padding-top: 80px;
  font-family: var(--font-family-accent);
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.buttons {
  max-width: 350px;
  gap: 20px 6px;
  display: flex;
  flex-wrap: wrap;
}
.buttons button {
  padding: 10px 20px;
  align-items: center;
  color: var(--color-white);
  background: var(--color-light-dark);
  font-family: var(--font-family-base);
  line-height: 150%;
  letter-spacing: 0.7px;
  border: none;
}

.footer-top-mailing-text,
.footer-top-about-text p {
  font-family: var(--font-family-base);
  max-width: 350px;
  line-height: 150%;
}
.footer-top-mailing-text {
  margin-bottom: 26px;
}
.subscribe input {
  height: 42px;
  width: 210px;
  background: rgba(255, 255, 255, 0.4);
  padding: 14px 20px;
  border: none;
}
input::placeholder {
  color: var(--color-gray);
}
.button-subscribe {
  padding: 10px 20px;
  align-items: center;
  color: var(--color-white);
  background: var(--color-light-dark);
  font-family: var(--font-family-base);
  line-height: 150%;
  letter-spacing: 0.7px;
  border: none;
}

.footer-bot {
  padding: 17px 0;
  font-size: 12px;
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agreement {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

@media (max-width: 1900px) {
  .article img {
    max-width: 900px;
  }
}

@media (max-width: 1800px) {
  .catalog {
    max-width: 600px;
  }

  .article {
    column-gap: 80px;
  }
  .article img {
    max-width: 700px;
  }
}

@media (max-width: 1500px) {
  .new-collection {
    flex-direction: column;
  }
  .new-season {
    margin-bottom: 80px;
  }
  .catalog {
    background: contain;
    max-width: 100%;
  }
  .collection-img {
    max-width: 600px;
  }
  .article {
    column-gap: 40px;
  }
  .article-text {
    max-width: 400px;
  }
  .article-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .article-hashtags {
    align-self: start;
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .top-line-content {
    padding: 10px;
  }

  .bot-line-content {
    padding: 15px;
  }

  .collection-text {
    max-width: 400px;
  }

  .article img {
    max-width: 500px;
  }
  .article-title {
    font-size: 14px;
  }
  .article-text {
    font-size: 12px;
    max-width: 300px;
  }
  .article-hashtags {
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .partners-images {
    flex-wrap: wrap;
    padding: 10px;
  }

  .footer-top-content {
    gap: 30px;
  }

  .footer-top-mailing-text,
  .footer-top-about-text p {
    max-width: 250px;
    font-size: 12px;
  }

  .footer-bot {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .footer-top-content {
    flex-wrap: wrap;
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .collection-text {
    max-width: 300px;
  }

  .slider-container {
    position: relative;
    overflow: hidden;
  }

  .slider-container button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #222;
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .slider-btn.prev {
    left: 10px;
  }

  .slider-btn.next {
    right: 10px;
  }

  .new-products {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .new-product,
  .new-product-gucci,
  .all-product {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    gap: 0;
    align-items: center;
  }

  .article img {
    max-width: 400px;
    max-height: 200px;
  }
  .article-content {
    padding: 15px;
  }
}
@media (max-width: 800px) {
  .top-line-content {
    flex-direction: column;
    align-items: center;
  }
  .info {
    font-size: 10px;
  }
  .info-content {
    display: flex;
    flex-direction: column;
  }
  .header-menu-list {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    background-color: var(--color-light-dark);
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 0;
    display: none;
    z-index: 40;
  }

  .header-menu-list.active {
    display: flex;
  }
  .burger {
    display: flex;
  }
  .burger.active {
    position: fixed;
    align-self: flex-end;
  }
  .bot-line-content {
    padding: 10px;
    gap: 40px;
  }
  .banner-info {
    max-width: 600px;
  }
  .product img {
    max-width: 200px;
  }
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .products {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .product {
    flex: 0 0 100%;
    box-sizing: border-box;
  }

  .slider button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #222;
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}

@media (max-width: 700px) {
  .banner-info {
    max-width: 500px;
  }
  .collection-img {
    display: none;
  }
  .about-collection {
    background: url(images/Rectangle\ 10.png) lightgray 50% center / cover
      no-repeat;
    padding-bottom: 20px;
  }

  .article {
    flex-direction: column;
    align-items: center;
  }
  .article img {
    max-width: 100%;
  }
  .info-title {
    padding-top: 0;
  }

  .partners-images img {
    max-width: 200px;
  }
}

@media (max-width: 500px) {
  .banner-info {
    max-width: 350px;
    font-size: 14px;
  }
  .partners-images img {
    max-width: 150px;
  }

  @media (max-width: 400px) {
    .button-subscribe {
      padding: 10px 10px;
    }

    .subscribe input {
      width: 140px;
    }
  }
}
