@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("./fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #000000;
  --color-light-dark: #0f0f0f;
  --color-white: #ffffff;
  --light-gray: #d0d0d0;
  --color-gray: #969696;

  --border: 1px solid var(--color-white);

  --font-family-base: "PT Sans", sans-serif;
  --font-family-accent: "Playfair Display", sans-serif;
  --font-family-logo: "Post No Bills Jaffna", sans-serif;

  --input-height: 47px;
}

body {
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-white);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  margin: 0 auto;
  max-width: 1110px;
}

.top-line-content {
  font-family: var(--font-family-base);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 14px 0px;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.bot-line {
  background-color: var(--color-light-dark);
}

.bot-line-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 16px 0;
}

.header-menu {
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}
.header-menu-list {
  display: flex;
  text-transform: uppercase;
  gap: 35px;
}
.header-logo {
  font-family: var(--font-family-logo);
  font-size: 36px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  min-height: 810px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(/images/Rectangle\ 3.png) lightgray 50% / cover no-repeat;
}
.banner-box {
  margin-bottom: 80px;
  width: 320px;
  height: 320px;
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  font-family: var(--font-family-logo);
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
.banner-title::after {
  content: "";
  display: block;
  width: 179px;
  height: 2px;
  background: white;
  margin: auto;
}

.banner-subtitle {
  margin-top: 7px;
  font-family: var(--font-family-base);
  font-size: 22px;
}

.banner-info {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 730px;
}

.new-collection {
  display: flex;
}
.new-season {
  min-width: 1040px;
}
.season-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 93px 0 100px 0;
}
.products {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.product img {
  background: #191b1c;
  padding: 27px 22px 34px 23px;
  margin-bottom: 25px;
}
.product-name {
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.product-price {
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 400;
}

.catalog {
  min-height: 730px;
  min-width: 880px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(/images/Rectangle\ 8.png) lightgray 50% / cover no-repeat;
}
