@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("./fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #000000;
  --color-light-dark: #0f0f0f;
  --color-white: #ffffff;
  --color-light-gray: #d0d0d0;
  --color-gray: #969696;

  --border: 1px solid var(--color-white);

  --font-family-base: "PT Sans", sans-serif;
  --font-family-accent: "Playfair Display", sans-serif;
  --font-family-logo: "Post No Bills Jaffna", sans-serif;

  --button-height: 47px;
}

body {
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-white);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  margin: 0 auto;
  max-width: 1110px;
}

.top-line-content {
  font-family: var(--font-family-base);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 14px 0px;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.bot-line {
  background-color: var(--color-light-dark);
}

.bot-line-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 16px 0;
}

.header-menu {
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}
.header-menu-list {
  display: flex;
  text-transform: uppercase;
  gap: 35px;
}
.header-logo {
  font-family: var(--font-family-logo);
  font-size: 36px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  min-height: 810px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(/images/Rectangle\ 3.png) lightgray 50% / cover no-repeat;
}
.banner-box {
  margin-bottom: 80px;
  width: 320px;
  height: 320px;
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  font-family: var(--font-family-logo);
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
.banner-title::after {
  content: "";
  display: block;
  width: 179px;
  height: 2px;
  background: white;
  margin: auto;
}

.banner-subtitle {
  margin-top: 7px;
  font-family: var(--font-family-base);
  font-size: 22px;
}

.banner-info {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 730px;
}

.new-collection {
  display: flex;
}
.new-season {
  width: 100%;
}
.season-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 93px;
}

.season-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 50px auto;
}
.products {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.product img {
  background: #191b1c;
  padding: 27px 22px 34px 23px;
  margin-bottom: 25px;
}
.product-name {
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.product-price {
  color: var(--color-light-gray);
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 700;
}

.catalog {
  align-content: end;
  min-height: 730px;
  min-width: 880px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(/images/Rectangle\ 8.png) lightgray 50% / cover no-repeat;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.overlay-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.overlay-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 30px auto;
}
.button-catalog {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.collection-2018 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.collection-img {
  min-height: 600px;
  min-width: 936px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5) 0%,
      rgba(15, 15, 15, 0.5) 100%
    ),
    url(/images/Rectangle\ 10.png) lightgray 50% / cover no-repeat;
}
.about-collection {
  width: 100%;
}

.collection-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
}

.collection-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 40px auto;
}

.collection-text {
  display: inline-block;
  max-width: 628px;
  color: var(--color-white);
  font-family: var(--font-family-base);
  line-height: 150%;
  margin-bottom: 64px;
}

.collection-button {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.new-goods {
  margin-bottom: 150px;
}

.new-goods-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 120px;
  text-align: center;
}

.new-goods-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 39.5px auto;
}

.new-products {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
  margin-top: 81.5px;
}

.new-product img {
  background: #191b1c;
  padding: 27px 22px 34px 23px;
  margin-bottom: 25px;
}

.new-product-gucci img {
  background: #191b1c;
  padding: 0 22px 0 23px;
  margin-bottom: 25px;
}

.all-product img {
  background: #191b1c;
  padding: 27px 22px 34px 23px;
}

/* .all-product ::after {
  content: "ПОКАЗАТИ ВСІ";
  display: block;
  width: 120px;
  height: 1px;
  background: black;
} */

.useful-info {
  margin-bottom: 89.67px;
}

.info-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 63.32px;
  text-align: center;
}

.info-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 36.56px auto;
}
.articles-list {
  margin-top: 56.97px;
}
.article {
  display: flex;
  column-gap: 145px;
  margin-bottom: 35px;
}
.article-content {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}
.article-title {
  font-family: var(--font-family-base);
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.article-text {
  align-items: center;
  font-family: var(--font-family-base);
  max-width: 628px;
  line-height: 150%;
  margin-bottom: 39px;
}
.article-bottom {
  display: flex;
  justify-content: space-between;
}
.read-button {
  cursor: pointer;
  border: var(--border);
  background: none;
  padding: 12px 28px;
  color: var(--white, #fff);
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.article-hashtags {
  display: flex;
  column-gap: 54px;
  font-family: var(--font-family-base);
  letter-spacing: 1.8px;
  text-transform: uppercase;
  align-self: flex-end;
}

.partners {
  margin-bottom: 106px;
}
.partners-title {
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.partners-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 22.56px auto 66px auto;
}
.partners-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top {
  min-height: 450px;
  background: url(/images/Rectangle\ 15.png) lightgray 50% / cover no-repeat;
}

.footer-top-content {
  display: flex;
  justify-content: space-between;
}

.footer-top-title {
  font-family: var(--font-family-accent);
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.buttons {
  max-width: 350px;
  gap: 20px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buttons button {
  padding: 10px 20px;
  align-items: center;
  color: var(--color-white);
  background: var(--color-light-dark);
  font-family: var(--font-family-base);
  line-height: 150%;
  letter-spacing: 0.7px;
}

.footer-top-mailing-text,
.footer-top-about-text p {
  font-family: var(--font-family-base);
  max-width: 350px;
  line-height: 150%;
}
.footer-top-mailing-text {
  margin-bottom: 26px;
}
.subscribe input {
  height: 42px;
  width: 210px;
  background: rgba(255, 255, 255, 0.4);
  padding: 14px 20px;
}
input::placeholder {
  color: var(--color-gray);
}
.button-subscribe {
  padding: 10px 20px;
  align-items: center;
  color: var(--color-white);
  background: var(--color-light-dark);
  font-family: var(--font-family-base);
  line-height: 150%;
  letter-spacing: 0.7px;
}

.footer-bot {
  padding: 17px 0;
  font-size: 12px;
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agreement {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}
