@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("./fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --light-gray: #d0d0d0;
  --color-gray: #969696;

  --border: 1px solid var(--color-white);

  --font-family-base: "Roboto Condensed", sans-serif;
  --font-family-accent: "Balqis", sans-serif;

  --input-height: 47px;
}

body {
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  color: var(--color-dark);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
